<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zinc.zoopy.waste" >

    <application
        android:name=".Config"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Waste.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.zinc.zoopy.waste.model.Waste, com.zinc.zoopy.waste.model.Category" />

        <activity
            android:name=".ActivityEditWaste"
            android:label="@string/title_activity_edit_waste"
            android:parentActivityName=".Statistic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zinc.zoopy.waste.Statistic" />
        </activity>
        <activity
            android:name=".ActivityPickCategory"
            android:label="@string/title_activity_pick_category" >
        </activity>
        <activity
            android:name=".EditCategory"
            android:label="@string/title_activity_edit_category"
            android:parentActivityName=".ActivityPickCategory" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityPickCategory" />
        </activity>
        <activity
            android:name=".ActivityAddCategory"
            android:label="@string/title_activity_add_category"
            android:parentActivityName=".ActivityPickCategory" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityPickCategory" />
        </activity>
        <activity
            android:name=".ActivityJournal"
            android:label="@string/title_activity_journal" >
        </activity>
        <activity
            android:name=".ActivityJournalMonth"
            android:label="@string/title_activity_activity_journal_month"
            android:parentActivityName=".ActivityJournal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zinc.zoopy.waste.ActivityJournal" />
        </activity>
        <activity
            android:name=".Statistic"
            android:label="@string/title_activity_statistic">
        </activity>
        <activity
            android:name=".ActivityDayEntries"
            android:label="@string/title_activity_activity_day_entries"
            android:parentActivityName=".ActivityJournalMonth" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zinc.zoopy.waste.ActivityJournalMonth" />
        </activity>
    </application>

</manifest>
